{#
SPDX-FileCopyrightText: 2022 - 2025 Slavi Pantaleev

SPDX-License-Identifier: AGPL-3.0-or-later
#}

[Unit]
Description=Postgres server ({{ postgres_identifier }})
{% for service in postgres_systemd_required_services_list %}
Requires={{ service }}
After={{ service }}
{% endfor %}
DefaultDependencies=no

[Service]
Type=simple
Environment="HOME={{ devture_systemd_docker_base_systemd_unit_home_path }}"
ExecStartPre=-{{ devture_systemd_docker_base_host_command_sh }} -c '{{ devture_systemd_docker_base_host_command_docker }} stop -t {{ postgres_container_stop_grace_time_seconds }} {{ postgres_identifier }} 2>/dev/null || true'
ExecStartPre=-{{ devture_systemd_docker_base_host_command_sh }} -c '{{ devture_systemd_docker_base_host_command_docker }} rm {{ postgres_identifier }} 2>/dev/null || true'

# We need /dev/shm to be larger than the default to allow VACUUM to work.
# See:
# - https://github.com/spantaleev/matrix-docker-ansible-deploy/issues/1362
# - https://github.com/spantaleev/matrix-docker-ansible-deploy/issues/1268
ExecStartPre={{ devture_systemd_docker_base_host_command_docker }} create \
      --rm \
      --name {{ postgres_identifier }} \
      --log-driver=none \
      --user={{ postgres_container_uid }}:{{ postgres_container_gid }} \
      {% if postgres_container_cap_drop_all_enabled %}
      --cap-drop=ALL \
      {% endif %}
      {% if postgres_container_read_only_enabled %}
      --read-only \
      {% endif %}
      --tmpfs=/tmp:rw,noexec,nosuid,size=100m \
      --tmpfs=/run/postgresql:rw,noexec,nosuid,size=100m \
      --shm-size={{ postgres_container_shm_size }} \
      --network={{ postgres_container_network }} \
      {% if postgres_container_postgres_bind_port %}
      -p {{ postgres_container_postgres_bind_port }}:5432 \
      {% endif %}
      --env-file={{ postgres_base_path }}/env-postgres-server \
      --mount type=bind,src={{ postgres_data_path }},dst={{ postgres_data_in_container_path }} \
      {% if postgres_container_mount_etc_passwd_enabled %}
      --mount type=bind,src=/etc/passwd,dst=/etc/passwd,ro \
      {% endif %}
      {% for arg in postgres_container_extra_arguments %}
      {{ arg }} \
      {% endfor %}
      {{ postgres_container_image_to_use }} \
      postgres {{ postgres_process_extra_arguments|join(' ') }}

{% for network in postgres_container_additional_networks %}
ExecStartPre={{ devture_systemd_docker_base_host_command_docker }} network connect {{ network }} {{ postgres_identifier }}
{% endfor %}

ExecStart={{ devture_systemd_docker_base_host_command_docker }} start --attach {{ postgres_identifier }}

ExecStop=-{{ devture_systemd_docker_base_host_command_sh }} -c '{{ devture_systemd_docker_base_host_command_docker }} stop -t {{ postgres_container_stop_grace_time_seconds }} {{ postgres_identifier }} 2>/dev/null || true'
ExecStop=-{{ devture_systemd_docker_base_host_command_sh }} -c '{{ devture_systemd_docker_base_host_command_docker }} rm {{ postgres_identifier }} 2>/dev/null || true'

Restart=always
RestartSec=30
SyslogIdentifier={{ postgres_identifier }}

[Install]
WantedBy=multi-user.target
