{#
SPDX-FileCopyrightText: 2023 Slavi Pantaleev
SPDX-FileCopyrightText: 2024 Nikita Chernyi

SPDX-License-Identifier: AGPL-3.0-or-later
#}

[Unit]
Description=Etherpad ({{ etherpad_identifier }})
{% for service in etherpad_systemd_required_services_list %}
Requires={{ service }}
After={{ service }}
{% endfor %}
{% for service in etherpad_systemd_wanted_services_list %}
Wants={{ service }}
{% endfor %}
DefaultDependencies=no

[Service]
Type=simple
Environment="HOME={{ devture_systemd_docker_base_systemd_unit_home_path }}"
ExecStartPre=-{{ devture_systemd_docker_base_host_command_sh }} -c '{{ devture_systemd_docker_base_host_command_docker }} stop -t {{ devture_systemd_docker_base_container_stop_grace_time_seconds }} {{ etherpad_identifier }} 2>/dev/null || true'
ExecStartPre=-{{ devture_systemd_docker_base_host_command_sh }} -c '{{ devture_systemd_docker_base_host_command_docker }} rm {{ etherpad_identifier }} 2>/dev/null || true'

ExecStartPre={{ devture_systemd_docker_base_host_command_docker }} create \
      --rm \
      --name={{ etherpad_identifier }} \
      --log-driver=none \
      --user={{ etherpad_user_uid }}:{{ etherpad_user_gid }} \
      --cap-drop=ALL \
      --network={{ etherpad_container_network }} \
      {% if etherpad_container_http_host_bind_port %}
      -p {{ etherpad_container_http_host_bind_port }}:{{ etherpad_container_http_port }} \
      {% endif %}
      --label-file={{ etherpad_base_path }}/labels \
      --health-interval={{ etherpad_container_health_interval }} \
      --mount type=bind,src={{ etherpad_config_path }},dst=/config,ro \
      --mount type=bind,src={{ etherpad_data_path }},dst=/data \
      --mount type=bind,src={{ etherpad_plugins_path }},dst=/opt/etherpad-lite/src/plugin_packages \
      --mount type=bind,src={{ etherpad_var_path }},dst=/opt/etherpad-lite/var \
      {% for arg in etherpad_container_extra_arguments %}
      {{ arg }} \
      {% endfor %}
      {{ etherpad_container_image_self_build_name if etherpad_container_image_self_build else etherpad_container_image }} \
      pnpm run prod \
        --settings /config/settings.json

{% for network in etherpad_container_additional_networks %}
ExecStartPre={{ devture_systemd_docker_base_host_command_docker }} network connect {{ network }} {{ etherpad_identifier }}
{% endfor %}

ExecStart={{ devture_systemd_docker_base_host_command_docker }} start --attach {{ etherpad_identifier }}

ExecStop=-{{ devture_systemd_docker_base_host_command_sh }} -c '{{ devture_systemd_docker_base_host_command_docker }} stop -t {{ devture_systemd_docker_base_container_stop_grace_time_seconds }} {{ etherpad_identifier }} 2>/dev/null || true'
ExecStop=-{{ devture_systemd_docker_base_host_command_sh }} -c '{{ devture_systemd_docker_base_host_command_docker }} rm {{ etherpad_identifier }} 2>/dev/null || true'

Restart=always
RestartSec=30
SyslogIdentifier={{ etherpad_identifier }}

[Install]
WantedBy=multi-user.target
