{#
SPDX-FileCopyrightText: 2023-2024 Slavi Pantaleev
SPDX-FileCopyrightText: 2024 Nikita Chernyi
SPDX-FileCopyrightText: 2025 Suguru Hirahara

SPDX-License-Identifier: AGPL-3.0-or-later
#}
{#
  See https://github.com/ether/etherpad-lite/blob/develop/settings.json.template
  for details about how these settings work.
#}
{
  "title": {{ etherpad_configuration_title|to_json }},
  "favicon": "favicon.ico",
  "skinName": "colibris",
  "skinVariants": "super-light-toolbar super-light-editor light-background",
  "ip": "::",
  "port": {{ etherpad_container_http_port|to_json }},
  "showSettingsInAdminPage": true,
{% if etherpad_database_type == 'mysql' %}
  "dbType": "mysql",
  "dbSettings": {
    "host":     {{ etherpad_database_mysql_hostname | to_json }},
    "port":     {{ etherpad_database_mysql_port | to_json }},
    "user":     {{ etherpad_database_mysql_username | to_json }},
    "password": {{ etherpad_database_mysql_password | to_json }},
    "database": {{ etherpad_database_name | to_json }}
  },
{% endif %}
{% if etherpad_database_type == 'postgres' %}
  "dbType": "postgres",
  "dbSettings": {
    "host":     {{ etherpad_database_postgres_hostname|to_json }},
    "port":     {{ etherpad_database_postgres_port|to_json }},
    "user":     {{ etherpad_database_postgres_username|to_json }},
    "password": {{ etherpad_database_postgres_password|to_json }},
    "database": {{ etherpad_database_name|to_json }}
  },
{% endif %}
{% if etherpad_database_type == 'redis' %}
  "dbType": "redis",
  "dbSettings": {
    "host":     {{ etherpad_redis_hostname | to_json }},
    "port":     {{ etherpad_redis_port | to_json }},
{% if etherpad_redis_username %}
    "user":     {{ etherpad_redis_username | to_json }},
{% endif %}
{% if etherpad_redis_password %}
    "password": {{ etherpad_redis_password | to_json }},
{% endif %}
    "database": {{ etherpad_redis_database | to_json }}
  },
{% endif %}
{% if etherpad_database_type == 'sqlite' %}
  "dbType": "sqlite",
  "dbSettings": {
    "filename": {{ etherpad_database_sqlite_path | to_json }}
  },
{% endif %}
{% if etherpad_database_type == 'memory' %}
  "dbType": "memory",
{% endif %}
  "defaultPadText" : {{ etherpad_configuration_defaultpadtext|to_json }},
  "suppressErrorsInPadText": false,
  "requireSession": false,
  "editOnly": false,
  "minify": {{ etherpad_configuration_minify | to_json }},
  "maxAge": 21600,
  "abiword": {{ etherpad_configuration_abiword|to_json }},
  "soffice": {{ etherpad_configuration_soffice|to_json }},
  "allowUnknownFileEnds": true,
  "requireAuthentication": false,
  "requireAuthorization": false,
  "trustProxy": true,
  "cookie": {
    "sameSite": "Lax",
    "keyRotationInterval": 86400000,
    "sessionLifetime": 86400000
  },
  "disableIPlogging": true,
  "automaticReconnectionTimeout": 0,
  "scrollWhenFocusLineIsOutOfViewport": {
    "percentage": {
      "editionAboveViewport": 0,
      "editionBelowViewport": 0
    },
    "duration": 0,
    "scrollWhenCaretIsInTheLastLineOfViewport": false,
    "percentageToScrollWhenUserPressesArrowUp": 0
  },
  "socketTransportProtocols" : ["xhr-polling", "jsonp-polling", "htmlfile"],
  "socketIo": {
    "maxHttpBufferSize": 10000
  },
  "loadTest": false,
  "dumpOnUncleanExit": false,
  "indentationOnNewLine": false,
  "importExportRateLimiting": {
    "windowMs": 90000,
    "max": 10
  },
  "importMaxFileSize": 52428800,
  "commitRateLimiting": {
    "duration": 1,
    "points": 10
  },
  "exposeVersion": false,
  "padOptions": {
    "noColors": false,
    "showControls": true,
    "showChat": false,
    "showLineNumbers": true,
    "useMonospaceFont": false,
    "userName": false,
    "userColor": false,
    "rtl": false,
    "alwaysShowChat": false,
    "chatAndUsers": false,
    "lang": "en-gb"
  },
{% if etherpad_admin_username != "" %}
  "users": {
    {{ etherpad_admin_username|to_json }}: {
      {% if etherpad_admin_password != "" %}
      "password": {{ etherpad_admin_password|to_json }},
      {% else %}
      "hash": {{ etherpad_admin_hash|to_json }},
      {% endif %}
      "is_admin": true
    }
  },
{% endif %}
  "padShortcutEnabled" : {
    "altF9": true,
    "altC": true,
    "cmdShift2": true,
    "delete": true,
    "return": true,
    "esc": true,
    "cmdS": true,
    "tab": true,
    "cmdZ": true,
    "cmdY": true,
    "cmdI": true,
    "cmdB": true,
    "cmdU": true,
    "cmd5": true,
    "cmdShiftL": true,
    "cmdShiftN": true,
    "cmdShift1": true,
    "cmdShiftC": true,
    "cmdH": true,
    "ctrlHome": true,
    "pageUp": true,
    "pageDown": true
  },
  "socketTransportProtocols" : ["websocket", "polling"],
  "loglevel": {{ etherpad_configuration_loglevel | to_json }},
  "customLocaleStrings": {},
  "enableAdminUITests": false
}
